<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JG-Bots Rest Api</title>
    <meta name="description"content="JG-BOTS"/>
<link href="https://jg-botsofc.github.io/arquivos2/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link rel="icon" href="https://i.postimg.cc/PrW4cfDs/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://jg-bots.github.io/-1/red.css" id="theme-color">
</head>
<body>

<%- include('nav')  %>
<%- body %>

</section>
<!--
=========================================================
* * Forter Copy
=========================================================
-->
<footer class="py-4">
<div class="col-12 text-muted text-center">
<p>© JG-Bots - JerfinhoPro</p>
</div>
</footer>

<div class="scroll-top">
<i class="fa fa-angle-up" aria-hidden="true"></i>
</div>

<!-- <script src="/script.js"></script> -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="https://zekais-api.herokuapp.com/js/scripts.js"></script>
</body>
</html>