<section class="smart-scroll">
<div class="container-fluid">
<nav class="navbar navbar-expand-md navbar-dark">
<a class="navbar-brand heading-black" href="/">JG-BOTS API'S</a>
<button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
<span data-feather="grid"></span>
</button>
<div class="collapse navbar-collapse" id="navbarCollapse">
<ul class="navbar-nav ml-auto">

<li class="nav-item"><a class="nav-link page-scroll d-flex flex-row align-items-center" href="/price">
<em class="mr-2"></em>
Valores
</a>

<li class="nav-item"><a class="nav-link page-scroll d-flex flex-row align-items-center" href="/premium">
<em class="mr-2"></em>
Premium
</a>

<% if (user) { %>

<li class="nav-item"><a class="nav-link page-scroll d-flex flex-row align-items-center" href="/users/logout">
<em class="mr-2"></em>
Sair
</a>
</li>

<% } else { %>

<li class="nav-item"><a class="nav-link page-scroll d-flex flex-row align-items-center" href="/users/register">
<em class="mr-2"></em>
Registrar
</a>

<li class="nav-item"><a class="nav-link page-scroll d-flex flex-row align-items-center" href="/users/login">
<em class="mr-2"></em>
Entrar
</a>

<% } %>

<li class="nav-item"><a class="nav-link page-scroll d-flex flex-row align-items-center" href="/docs">
<em class="mr-2"></em>
Documentos
</a>

</ul>
</div>
</nav>
</div>
</section>