<section class="py-7 py-md-0 bg-hero" id="home">
<div class="container">
<div class="row vh-md-100">
<div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
<h1 class="heading-black text-capitalize text-primary">Bemvindo(a) a minha rest api :)</h1>
                 
<div class="text-center">
                    <a class="btn btn-primary mb-2  d-inline-flex flex-row align-items-center" 
                        href="/docs">Entrar nos docs<em class="ml-2"></em><i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 bg-dark section-angle top-left bottom-left">
<div class="container">
<div class="row">
<div class="col-md-6 mx-auto text-center">
<h2 class="heading-black text-primary">Kirisaki</h2>
<p class="text-muted lead" style="font-style: italic;">Uma Rest Api Para O Seu Negócio</p>
</div>
</div>
<div class="row mt-5">

<div class="col-md-4">
<div class="card">

<div class="card-body">
<h5 class="card-title mb-2" target="_blank"><div class="text-primary">Notícias</div></h5>

<p class="text-muted small-xl mb-2">4 de novembro 2022</p>
<p class="card-text">Estilo do site atualizado e outras apis adicionadas como gerar-nick e tiktok! </p>

<div class="text-center">
<a class="btn btn-primary mb-2" href="https://zekais-restapi.herokuapp.com/" target="_blank"><i class="fas fa-link"></i><em class="ml-2"></em>COMPRAR KIRISAKI BOT</a>
</div>

</div>
</div>
</div>

</div>
</div>
</section>